<!doctype html>

<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jeu de piste">
    <meta name="author" content="Marius RIDEL">
    <link rel="icon" type="image/png" href="icon.png"/>
    <title>Jeu de piste</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="parcours.js"></script>
    <script type="text/javascript" src="js/instascan.min.js"></script>
</head>
<body class="has-background-light">

    <noscript class="section">
        <h1 class="title">Catastrophe</h1>
        <p>Pour fonctionner, le jeu de piste utilise ce que l'on appelle du <code>JavaScript</code> pour fonctionner.</p>
        <p>
            Si vous voyez ce message cela veut dire que le <code>JavaScript</code> n'est pas activé sur votre navigateur.<br>
            Vous trouverez un tutoriel pour l'activer <a  target="_blank" href="https://fr.wikihow.com/activer-JavaScript-sur-un-téléphone-Android">ICI</a>.<br>
        </p>
        <p>
            Si vous possédez un téléphone <b>Apple</b> :
        </p>
        <div class="content">
            <ol>
                <li>Ouvrez <code>Réglages</code> et sélectionnez <code>Safari</code>,</li>
                <li>Localisez l’option <code>Javascript</code> et passez l’interrupteur sur ON,</li>
                <li>Relancer Safari.</li>
            </ol>
        </div>
        <p>
            Enfin vous pouvez recharger cette page et profiter du jeu !
        </p>
        <p>
            Si par malheur vous voyez de nouveau ce message, il vous faudra essayer sur un autre téléphone 😢.
        </p>
        <style>
            #app{
                display:none!important;
            }
        </style>
    </noscript>

    <section id="app" class="section">
        <h1 class="title">
            {{parcoursChoisi? parcoursChoisi.nom : "Jeu de piste"}}
        </h1>

        <minuteur v-if="aCommence" v-bind:temps="heureFin" v-on:arret="arret" ref="minuteur"></minuteur>
        <article>
            <div class="container" v-if="!parcoursChoisi">
                <p class="buttons are-large is-centered" v-for="p in parcours" :key="p.nom" >
                    <a class="button" v-on:click="parcoursChoisi=p">{{p.nom}}</a>
                </p>
            </div>
            
            <etape class="container" v-bind:etapes="parcoursChoisi.etapes" v-bind:incorrect="parcoursChoisi.messageMauvaiseReponse" v-bind:messageindice="parcoursChoisi.messageIndice" v-bind:messagesuivant="parcoursChoisi.messageSuivant" v-on:retour="parcoursChoisi = null" v-on:commencer="commencer" v-on:finir="finir" v-else-if="!tempsFini" ref="parcours"></etape>

            <div v-else>
                <p>
                    {{parcoursChoisi.messageEchec}}
                </p>
                <p>
                    Vous vous êtes arreté à l'étape {{numeroEtape}} sur {{parcoursChoisi.etapes.length-2}} !
                </p>
            </div>
        </article>
    </section>

    <footer class="footer has-text-centered">
        &copy;2020 Marius RIDEL
    </footer>
    <script>
    
    window.addEventListener("beforeunload", function (e) {
        var confirmationMessage = "Attention votre progression risque d'être perdue…";

        e.returnValue = confirmationMessage;     // Gecko, Trident, Chrome 34+
        return confirmationMessage;              // Gecko, WebKit, Chrome <34
    });

    String.prototype.sansAccent = function(){
    var accent = [
            /[\300-\306]/g, /[\340-\346]/g, // A, a
            /[\310-\313]/g, /[\350-\353]/g, // E, e
            /[\314-\317]/g, /[\354-\357]/g, // I, i
            /[\322-\330]/g, /[\362-\370]/g, // O, o
            /[\331-\334]/g, /[\371-\374]/g, // U, u
            /[\321]/g, /[\361]/g, // N, n
            /[\307]/g, /[\347]/g, // C, c
        ];
        var noaccent = ['A','a','E','e','I','i','O','o','U','u','N','n','C','c'];
        
        var str = this;
        for(var i = 0; i < accent.length; i++){
            str = str.replace(accent[i], noaccent[i]);
        }
        
        return str;
    }

    const JaroWinkler  = function (s1, s2) {
        var m = 0;

        if ( s1.length === 0 || s2.length === 0 ) {
            return 0;
        }

        if ( s1 === s2 ) {
            return 1;
        }

        var range     = (Math.floor(Math.max(s1.length, s2.length) / 2)) - 1,
            s1Matches = new Array(s1.length),
            s2Matches = new Array(s2.length);

        for ( i = 0; i < s1.length; i++ ) {
            var low  = (i >= range) ? i - range : 0,
                high = (i + range <= s2.length) ? (i + range) : (s2.length - 1);

            for ( j = low; j <= high; j++ ) {
            if ( s1Matches[i] !== true && s2Matches[j] !== true && s1[i] === s2[j] ) {
                ++m;
                s1Matches[i] = s2Matches[j] = true;
                break;
            }
            }
        }

        // Exit early if no matches were found.
        if ( m === 0 ) {
            return 0;
        }

        // Count the transpositions.
        var k = n_trans = 0;

        for ( i = 0; i < s1.length; i++ ) {
            if ( s1Matches[i] === true ) {
            for ( j = k; j < s2.length; j++ ) {
                if ( s2Matches[j] === true ) {
                k = j + 1;
                break;
                }
            }

            if ( s1[i] !== s2[j] ) {
                ++n_trans;
            }
            }
        }

        var weight = (m / s1.length + m / s2.length + (m - (n_trans / 2)) / m) / 3,
            l      = 0,
            p      = 0.1;

        if ( weight > 0.7 ) {
            while ( s1[l] === s2[l] && l < 4 ) {
            ++l;
            }

            weight = weight + l * p * (1 - weight);
        }

        return weight;
    }

    var minuteur = Vue.component('minuteur', {
        data: function () {
            return {
                tempsPasse: new Date().getTime(),
                intervalleTemps: null,
                danger: false
            }
        },
        props: ['temps'],
        computed: {
            tempsRestant() {
                return Math.round((this.temps - this.tempsPasse)/1000);
            },
            heure(){
                return Math.floor(this.tempsRestant / 3600).toLocaleString(undefined, {minimumIntegerDigits: 2});
            },
            minute(){
                return (Math.floor(this.tempsRestant / 60) % 60).toLocaleString(undefined, {minimumIntegerDigits: 2});
            },
            seconde(){
                return (this.tempsRestant % 60).toLocaleString(undefined, {minimumIntegerDigits: 2});
            }
        },
        mounted() {
            this.demarrerMinuteur();
        },
        methods: {
            demarrerMinuteur() {
                this.intervalleTemps = setInterval(() => (this.tempsPasse = new Date().getTime()), 1000);
            },
            arretTemps(){
                clearInterval(this.intervalleTemps);
            }
        },
        watch: {
            tempsRestant(t) {
                if (t <= 0) {
                    this.tempsPasse = this.temps;
                    this.arretTemps();
                    this.$emit('arret');
                }
                if(t < 900 && !this.danger) this.danger = true;
            }
        },
        template: `<aside id="minuteur" class="columns is-paddingless is-centered is-mobile">
            <div class="column is-narrow">
                <div v-bind:class="(danger?'has-background-danger has-text-white':'has-background-grey-light') + ' box has-text-centered is-size-7 has-text-weight-bold'">
                    <div class="box is-size-5">{{heure}}</div>Heures
                </div>
            </div>

            <div class="column is-narrow">
                <div v-bind:class="(danger?'has-background-danger has-text-white':'has-background-grey-light') + ' box has-text-centered is-size-7 has-text-weight-bold'">
                    <div class="box is-size-5">{{minute}}</div>Minutes
                </div>
            </div>

            <div class="column is-narrow">
                <div v-bind:class="(danger?'has-background-danger has-text-white':'has-background-grey-light') + ' box has-text-centered is-size-7 has-text-weight-bold'">
                    <div class="box is-size-5">{{seconde}}</div>Secondes
                </div>
            </div>

        </aside>`
    });

    var etape = Vue.component('etape', {
        data: function () {
            return {
                numeroEtape: 0,
                reponse:"",
                estIncorrect: false,
                attenteMauvaiseReponse:false,
                mauvaiseReponse:0,
                complement: "",
                scanner: null,
                cameras: [],
                cameraActive: null
            }
        },
        props: ['etapes','incorrect','messageindice', 'messagesuivant'],
        template: `<div id="etape">

                        <template v-if="etapes[numeroEtape].type=='debut'">
                            <p class="subtitle">{{etapes[numeroEtape].titre}}</p>
                            <p>{{etapes[numeroEtape].synopsis}}</p>
                            <div class="buttons">
                                <button class="button" v-on:click="commencer">Commencer</button>
                                <button class="button is-danger" v-on:click="$emit('retour')">Retour</button>
                            </div>
                        </template>

                        <template v-if="etapes[numeroEtape].type=='question' || etapes[numeroEtape].type=='code' || etapes[numeroEtape].type=='coffre'">
                            <p class="subtitle">{{etapes[numeroEtape].titre}}</p>
                            <p>{{etapes[numeroEtape].contexte}}</p>
                            <div class="field">
                                <label class="label">{{etapes[numeroEtape].question}}</label>
                                <div class="control">
                                    <input v-bind:class="attenteMauvaiseReponse?'input is-danger':(estIncorrect?(etapes[numeroEtape].type=='question'?'input is-success':'input is-danger'):'input')" type="text" placeholder="Votre réponse..." v-model="reponse" v-bind:disabled="attenteMauvaiseReponse">
                                </div>
                            </div>
                            <p v-if="estIncorrect && etapes[numeroEtape].type!='question'" class="has-text-danger">
                                <i>La réponse est incorrecte !</i>
                            </p>
                            <p v-if="attenteMauvaiseReponse" class="has-text-danger"><i>{{incorrect + " " + complement}}</i></p>
                            <div v-if="estIncorrect && mauvaiseReponse>1 && etapes[numeroEtape].indice && Math.floor(mauvaiseReponse/2)-1<etapes[numeroEtape].indice.length" class="has-text-info">
                                <p v-for="i in Math.floor(mauvaiseReponse/2)"><i>Indice {{i}}: {{etapes[numeroEtape].indice[i-1]}}</i></p>
                            </div>
                            <div class="buttons">
                                <button class="button" v-on:click="valider" v-bind:disabled="reponse == ''">Valider</button>
                            </div>
                        </template>

                        <template v-if="etapes[numeroEtape].type=='qrcode' || etapes[numeroEtape].type=='qrcoffre'">
                            <p class="subtitle">{{etapes[numeroEtape].titre}}</p>
                            <p>{{etapes[numeroEtape].contexte}}</p>
                            
                            <div class="field" v-if="estIncorrect">
                                <div class="notification is-danger">Le code scanné n'est pas le bon !</div>
                            </div>
                            <div class="field">
                                <button v-if="!scanner" class="button" v-on:click="lire()">Ouvrir la caméra pour scanner le code</button>
                                <video id='video'></video>
                                <button class="button" v-if="cameras.length > 1" v-on:click="changerCamera()">
                                    <span class="icon">
                                        <i class="fas fa-sync"></i>
                                    </span>
                                </button>
                            </div>
                        </template>

                        <template v-if="etapes[numeroEtape].type=='information'">
                            <p>{{etapes[numeroEtape].contenu}}</p>
                            <div class="buttons">
                                <button class="button" v-on:click="suivant">Suivant</button>
                            </div>
                        </template>

                        <template v-if="etapes[numeroEtape].type=='fin'">
                            <p class="subtitle">{{etapes[numeroEtape].titre}}</p>
                            <p>{{etapes[numeroEtape].conclusion}}</p>
                        </template>

                    </div>`,
        methods:{
            commencer(){
                this.$emit('commencer');
                this.suivant();
            },

            valider(){
                let estValide = false;
                let laReponse = this.reponse.toLowerCase().sansAccent().replace(/\s+/g,' ').trim();
                this.etapes[this.numeroEtape].reponse.forEach(reponse => {
                    reponse = reponse.toLowerCase().sansAccent().replace(/\s+/g,' ').trim();
                    estValide += (laReponse.includes(reponse) && JaroWinkler(reponse, laReponse) > 0.6);
                });
                if(estValide){
                    this.suivant();
                } else {
                    this.estIncorrect = true;
                    this.reponse = "";
                    if(this.etapes[this.numeroEtape].type == 'question'){
                        this.attenteMauvaiseReponse = true;
                        this.mauvaiseReponse ++;
                        let plusDIndice = Math.floor(this.mauvaiseReponse /2) > (this.etapes[this.numeroEtape].indice?.length??0);
                        if(this.mauvaiseReponse%2 == 0)
                            if(plusDIndice) this.complement = this.messagesuivant;
                            else this.complement = this.messageindice;
                        else this.complement = "";
                        setTimeout(function (){
                            this.attenteMauvaiseReponse = false;
                            if(plusDIndice) this.suivant();
                        }.bind(this) , 45000); // 90000  = 1min30 en millisecondes
                    }

                }
            },

            suivant(){
                if(this.scanner) this.scanner.stop();
                this.scanner=null;
                this.reponse = "";
                this.estIncorrect = false;
                this.mauvaiseReponse = 0;
                this.complement = "";
                this.numeroEtape++;
                this.cameras = [];
                this.cameraActive = null;
                if(this.etapes[this.numeroEtape].type == "fin") this.$emit('finir');
            },

            lire(){
                let self = this;
                self.scanner = new Instascan.Scanner({ video: document.getElementById('video'), scanPeriod: 5 });
                self.scanner.addListener('scan', function (content) {
                    self.reponse = content;
                    self.valider();
                });
                Instascan.Camera.getCameras().then(function (cameras) {
                    self.cameras = cameras;
                    if (cameras.length > 0) {
                        self.cameraActive = 0;
                        self.scanner.start(cameras[0]);
                    } else {
                        console.error('Aucune caméra trouvée.');
                    }
                }).catch(function (e) {
                    console.error(e);
                });
            },
            changerCamera(){
                let nbCamera = this.cameras.length;
                let suivante = (this.cameraActive + 1) % nbCamera;
                this.cameraActive = suivante;
                this.scanner.stop();
                this.scanner.start(this.cameras[this.cameraActive]);
            }
        }
    });

    var app = new Vue({
        el: '#app',
        data: {
            parcours: lesParcours,
            parcoursChoisi: null,
            numeroEtape: 0,
            minuteurActif: false,
            aCommence: false,
            tempsFini: false,
            heureFin: null
        },
        components: {
            minuteur: minuteur,
            etape: etape
        },
        methods:{
            commencer(){
                this.heureFin = new Date().getTime() + (this.parcoursChoisi.temps * 60000);
                this.aCommence = true;
            },
            finir(){
                this.$refs.minuteur.arretTemps();
            },
            arret(){
                this.tempsFini = true;
                this.numeroEtape = this.$refs.parcours.numeroEtape;
            }
        }
    });
</script>
</body>
</html>