html, body{
    overflow-y: auto;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#app{
    flex:1;
}

.box{
    padding:0.75rem;
}

.container p{
    margin-bottom: 1.5rem;
}

.footer{
    background-color: transparent;
    padding: 1.5rem;
}